<div style="width:100%;text-align:center;margin-top:0.5;margin-bottom:0.5;">
  <img src={{logo_url}} style="width:150px;">
</div>
<h5>Dear {{name}}</h5>
<p>The deployment of a service request submitted at {{tenant_title}} Federation Registry could not be completed due to an error. Follow the link (<a href={{url}}>{{url}}</a>) and login to the platform for more information.</p>
<h5>Deployment Info</h5>
<ul>
  <li>Service name: {{service_name}}</li>
  <li>Integration Environment: {{integration_environment}}</li>
  <li>Deployment Date: {{date}}</li>
  <li>Deployment Type: {{deployment_type}}</li>
  <li>Error Status Code: {{error_code}} </li>
  <li>Error Description: {{error_description}}</li>
</ul>
<h5>Greetings from the {{tenant_signature}}</h5>
