<head>
    <title>Request Reviewed</title>
</head>
<div style="width:100%;text-align:center;margin-top:0.5;margin-bottom:0.5;">
    <img src={{logo_url}} style="width:150px;">
</div>
<h5>Dear {{name}}</h5>
<p>Your Service Request submitted to the {{tenant_title}} Federation Registry was {{state}} from an reviewer.
Follow this link (<a href={{url}}>{{url}}</a>) and login to the platform to view the complete request.</p>
<h5></h5>

<div style="text-align:center;margin-top:0.5;margin-bottom:0.5;background-color:#E9ECEF;padding:1rem;border-radius:1rem;">
    <div style="text-align:left;font-size:1.2rem"> <strong>Service Request Info</strong></div>
    <div style="text-align:left;margin-top:1rem"><strong>State: </strong> {{state}} </div>
    <div style="text-align:left;margin-top:0.5rem;"><strong>Service Name: </strong>{{service_name}} </div>    
    <div style="text-align:left;margin-top:0.5rem;"><strong>Integration Environment: </strong>{{integration_environment}} </div>  
    {{#if comment}}
    <div style="text-align:left;margin-top:0.5rem;">
        <strong>Comment from Reviewer: </strong> {{comment}}
    </div>
    {{/if}}
    <div style="text-align:left;margin-top:0.5rem;"><strong>Reviewed At: </strong> {{date}}</div>
    
</div>
  
<h5>Thank you from the development team</h5>

